<div class="outer-form">
  <div class="inner-form">
    <form class="edit">
      <h2>title</h2>
      {{!-- PLACEHOLDER isn't right for this.. but VALUE didn't work? --}}
        <textarea class="input" name="title-edit" id="title" cols="75" rows="2" placeholder="{{ post.title }}"></textarea>
      <h2>text</h2>
        <textarea class="input" name="text-edit" id="text" cols="75" rows="10" placeholder="{{ post.text }}"></textarea>
    </form>
  </div>
</div>