<div class="outer-form">
  <div class="inner-form">
    <form class="edit">
      <h2>Edit Post</h2>
      <hr>
      <h4 id="tag" data-id="{{ post.id }}">title:</h4>
        <textarea class="input" name="title-edit" id="title" cols="75" rows="2">{{ post.title }}</textarea>
      <h4>text:</h4>
        <textarea class="input" name="text-edit" id="text" cols="75" rows="10">{{ post.text }}</textarea>
<div class="outer-form">
        <button class="button" type="submit">
          <h2>DONE</h2>
        </button>
        <button id="delete" class="button">
          <h2>DELETE</h2>
        </button>
</div>
    </form>
  </div>
</div>

<script src="/js/edit.js"></script>