<div class="outer-form">
  <div id="login">
    <form class="login-form">
      <div class="inner-form">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="inner-form">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="inner-form">
        <button class="button" type="submit">login</button>
      </div>
   </form>
  </div>
</div>
<script src="/js/login.js"></script>

  <a href="/signup">
    <h2>Sign Up</h2>
  </a>