{{> onepost post}}

{{#if logged_in }}

<form class="comment-form">  
  <div class="outer-form">
    <div class="inner-form">
      <textarea id="comment" class="comment-input"></textarea>
    </div>
    <div class="inner-form">
      <button id="comment-submit" class="button" type="submit">
        <h3>POST</h3>
      </button>
    </div>  
  </div>
</form>

{{/if }}

{{> comment post.Comments}}

{{#if logged_in }}
<script src="/js/comment.js"></script>
{{/if }}