<div class="outer-form">
<div id="signup">
    <form class="signup-form">
      <div class="inner-form">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="inner-form">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="inner-form">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="inner-form">
        <button class="button" type="submit">signup</button>
      </div>
    </form>  
</div>
</div>
<script src="/js/signup.js"></script>