<div class="outer-form">
  <div class="inner-form">
    <form class="write">
      <h2>Make a Post</h2>
      <hr>
      <h4>title:</h4>
        <textarea class="input" name="title-edit" id="title" cols="75" rows="2"></textarea>
      <h4>text:</h4>
        <textarea class="input" name="text-edit" id="text" cols="75" rows="10"></textarea>
        <button class="button" type="submit">
          <h2>DONE</h2>
        </button>
    </form>
  </div>
</div>


<script src="/js/write.js"></script>